*{
    font-size: 25px;
    background: burlywood;
}
h1 {
    text-align: center;
    font-size: 40px;
    color:red;

}
h2{
    font-size: 20px;
    color:blue;
    text-align:center;
}
img{
    width: 300px;
    height: 350px;
}
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
a {
    display: block;
    text-decoration: none
}
.flexbox-item {
    width: 350px;
    height: 400px;
}
.one {
    flex-shrink: 0;
    flex-grow: 2;
    border: blue dashed 3px;
}
.two{
    flex-grow: 2;
    flex-shrink: 1;
    border: blue dashed 3px;
}
.three{
    flex-shrink: 1;
    flex-grow: 0;
    border: blue dashed 3px;
}
.second-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-evenly;
}
.four{
    flex-grow: 2;
    border: blue dashed 3px;
}
.five{
    flex-grow: 2;
    border: blue dashed 3px;
}
.six{
    flex-grow: 0;
    flex-shrink: 1;
    border: blue dashed 3px;
}
.third-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.seven{
    flex-grow: 2;
    flex-shrink: 1;
    border: blue dashed 3px;
}
.eight{
    flex-grow: 2;
    flex-shrink: 1;
    border: blue dashed 3px;
}
.nine{
    flex-grow: 0;
    flex-shrink: 1;
    border: blue dashed 3px;
}
iframe{
    height: 250px;
    width: 300px;
}